<!doctype html>
<html lang="en">
  <head>
    <base href="/">
    <link rel="icon" href="/images/favicon.png" sizes="16x16 32x32" type="image/png">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Specific stylesheets -->
    <link rel="stylesheet" href="css/style.css" >

    <title>Garage Door Remote</title> 
  </head>
  <body>
    <% include includes/header.ejs %>

    <div class="container">
      <div class="row" id="pwd-container">
        <div class="col-md-4"></div>
        
        <div class="col-md-4">
          <section class="login-form">
            <div class="box">
              <table class="table">
                <tr>
                  <td>Average load (1')</td>
                  <td><%= load_avg_1 %></td>
                </tr>
                <tr>
                  <td>Average load (5')</td>
                  <td><%= load_avg_5 %></td>
                </tr>
                <tr>
                  <td>Average load (10')</td>
                  <td><%= load_avg_10 %></td>
                </tr>
              </table>
          </section>
        </div>
      </div>
    </div>

    <% include includes/environment-badge.ejs %>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="js/main.js" type="application/javascript"></script>
  </body>
</html>
