<!doctype html>
<html lang="en">
  <head>
    <base href="/">
    <link rel="icon" href="/images/favicon.png" sizes="16x16 32x32" type="image/png">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" content="<%= csrftoken %>">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Specific stylesheets -->
    <link rel="stylesheet" href="css/style.css" >

    <title>Garage Door Remote</title> 
  </head>
  <body>
    <% include includes/header.ejs %>

    <div id="alerts"></div>

    <div class="d-none">
      <div id="connectError" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Connectivity error!</strong> The system was unable to send the trigger signal to the garage door.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="container">
      <div class="row" id="pwd-container">
        <div class="col-md-4"></div>
        
        <div class="col-md-4">
          <section class="login-form">
            <div class="box">
              <div id="status">
                <div id="state-open" class="state-box">
                  <img src="images/door_open.png" class="img-scaled">
                  <p class="text-center text-danger font-weight-bold">Open</p>
                </div>
                <div id="state-closed" class="state-box">
                  <img src="images/door_closed.png" class="img-scaled">
                  <p class="text-center text-success font-weight-bold">Closed</p>
                </div>
                <div id="state-moving" class="state-box">
                  <img src="images/door_motion.png" class="img-scaled">
                  <p class="text-center text-warning font-weight-bold">Moving or partially open</p>
                </div>
                <div id="state-unknown" class="state-box">
                  <img src="images/door_unknown.png" class="img-scaled">
                  <p class="text-center text-secondary font-weight-bold">Unknown</p>
                </div>
              </div>
              <hr class="style4">
              <div class="text-center">
                <button type="button" class="btn btn-xxl btn-primary btn-block" data-toggle="modal" data-target="#triggerModal">Trigger</button>
              </div>     
            </div>
          </section>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="triggerModal" tabindex="-1" role="dialog" aria-labelledby="triggerModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="triggerModalLabel">Trigger garage door</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This action will trigger the garage door motor and open or close the garage door.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
            <button type="button" class="btn btn-primary" id="confirmTrigger">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="js/main.js" type="application/javascript"></script>
  </body>
</html>
