<!doctype html>
<html lang="en">
  <head>
    <base href="/">
    <link rel="icon" href="/images/favicon.png" sizes="16x16 32x32" type="image/png">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Specific stylesheets -->
    <link rel="stylesheet" href="css/style.css" >

    <title>Garage Door Remote</title> 
  </head>
  <body>
    <header class="head-main">
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between widen">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Garage Door Remote</strong>
          </a>
          <a class="nav-button ml-auto mr-4"><span id="nav-icon3"><span></span><span></span><span></span><span></span></span></a>
        </div>
      </div> <!--navbar end-->
      
      <div class="fixed-top main-menu">
        <div class="flex-center p-5">
          <ul class="nav flex-column">
            <li class="nav-item delay-1"><a class="nav-link" href="/login">Login</a></li>
          </ul>
        </div>
      </div> <!--main-menu end-->
    </header>

    <div class="container">
      <div class="row" id="pwd-container">
        <div class="col-md-4"></div>
        
        <div class="col-md-4">
          <section class="login-form">
            <form method="post" action="/login" role="login">
              <!--img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" /-->
              <h1>Login</h1>
              <% if (message && message != "") { %>
                  <p class="text-danger"><%= message %></p>
              <% } %>
              <input type="text" class="form-control" placeholder="Username" name="username"> 
              <input type="password" class="form-control" placeholder="Password" name="password"> 
              
              <div class="pwstrength_viewport_progress"></div>
              
              <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
              <input type="hidden" name="_csrf" value="<%= csrftoken %>">
            </form>
          </section>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="js/main.js" type="application/javascript"></script>
  </body>
</html>
